{% extends "main_page/wrapper.html" %}

{% block content %}

    <form action="{% url 'profile_redact_url' %}" method="post">
        {% csrf_token %}
        <p>{{form.errors}}</p>
        <p>Load your photo here:</p>
        <p>{{form.avatar}}</p>
        <p>Tell us something about you:</p>
        <p>{{form.biography}}</p>
        <p>Where do you leave:</p>
        <p>{{form.location}}</p>
        <p>When were u born:</p>
        <p>{{form.birth_date}}</p>

        <button type="submit" href="user_profile/ur_profile.html" >Save</button>
    </form>

{% endblock %}